.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(rgb(255, 255, 255),rgba(255, 255, 255, 0.5));
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    z-index: 1000;
    height: 80px;
    margin-bottom: 100px;
}

.navbarIcons{
    color: black;
    font-size: 1.25rem;
    cursor:pointer;
}

.searchInput{
    width: 220px;
    height:30px;
    border-radius: 5px;
}

.searchButton{
    height: 30px;
    width: 100px;
    border-radius: 5px;
    padding: 3px 6px;
}

@media (max-width: 981px) {
    .nav{
        background-color: white;
        height: fit-content;
        position: sticky;
        margin-bottom: 0px;
    }
    
}