.categories { 
    margin-top: 50px;
}
.categories img{
    width:150px;
    height: auto;
    cursor: pointer;
}

@media (max-width: 550px) {
    .categories img{
        width:100px;
    }
}

@media (max-width: 300px) {
    .categories img{
        width:80px;
    }
}

